* {
    margin: 0;
    padding: 0;
}

body {
    background: #020A18;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.top {
    padding-bottom: 99px;
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.header__link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFF;
}

.top__info {
    width: 604px;
}

.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.top__buttons {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.button {
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    padding: 1rem 2rem;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    margin-right: 20px;
    border: 2px solid transparent;
}


.top__logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 256px;   
}

.applay {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 68px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.learning-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 484px;
}

.content-heading {
    color: var(--ffffff, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 30px;
}

.subtitle {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3a68b8;
}

.title {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFF;
}

.text {
    width: 558px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFF;
    opacity: 0.7;
}

.learning-right .text {
    width: 460px;
    font-size: 16px;
}

.content {    
    display: grid;
    grid-template-columns: repeat(3, 362px);
    gap: 30px;
    justify-content: center;
    padding-top: 264px;
    padding-bottom: 243px;
}


.item {
    background: #132035;
    border-radius: 10px;
    display: grid;
    justify-items: center;
    gap: 30px;
    padding: 30px;
}


.item__big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFF;
}

.item__text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFF;
    margin-bottom: 30px;
}

.solution {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 221px;
}

.solution .content-heading {
    width: 548px;
} 

.solution-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-left .text {
    width: 460px;
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer h3 {
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 33px;
}

.footer p {
    margin-bottom: 24px;
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.italic {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    max-width: 261px;
    opacity: 0.6;
}

.social-links {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .subtitle {
        font-size: 16px;
    }

    .title {
        font-size: 48px;
    }

    .top {
        padding-bottom: 120px;
    }

    .top__logos {
        gap: 32px;
        max-width: 650px;
        /* margin: auto; */
        margin-bottom: 277px;
        justify-content: center;
    }

    .content {    
        display: grid;
        grid-template-columns: repeat(1, 362px);
        gap: 32px;        
    }

    .item__big {
        grid-column: span 1;
        grid-row: span 1;
        gap: 30px;
    }
    
    .item__big img {
        width: 98px;
    }

    .about-left {
        margin-bottom: 64px;
    }

    .footer {
        justify-content: flex-start
    }

    .left-footer {
        width: 369px;
        margin-bottom: 36px;
    }
}

@media (max-width: 849px) {
    .center {
        padding-left: calc(50% - 187px);
        padding-right: calc(50% - 187px);
    }

    .header {
        padding-top: 39px;
        padding-bottom: 39px;
        display: flex;        
        justify-content: space-around;
        gap: 1px;
    }

    .header__link {
        color: var(--ffffff, #FFF);
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .top__content {
        margin-top: 64px;
        margin-bottom: 128px;
    }

    .top__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top__buttons {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center
    }

    .subtitle {
        
        color: var(--3-a-68-b-8, #3A68B8);
        text-align: center;
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%; /* 22.4px */
        text-transform: uppercase;
    }

    .title {
        width: 342px;
        color: var(--ffffff, #FFF);
        text-align: center;
        font-family: Open Sans;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: 130%; /* 36.4px */
    }

    .text {
        width: 342px;
        color: var(--ffffff, #FFF);
        text-align: center;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%; /* 28.8px */
    }

    .learning-right {
        align-items: center;
    }

    .learning-right .text {
        width: 343px;
    }

    .content {
        padding-top: 96px;
    }

    .content-heading {
        color: var(--ffffff, #FFF);
        text-align: center;
        font-family: Open Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 31.2px */
    }
    
    .solution .content-heading {
        width: 343px;
    }

    .solution .text {
        width: 343px;
    }

    .footer {
        flex-direction: column;
    }
    
    .left-footer {
        display: flex;
    flex-direction: column;
    align-items: center;
    }

    .middle-footer {
        display: flex;
    flex-direction: column;
    align-items: center;
    }

    .right-footer {
        display: flex;
    flex-direction: column;
    align-items: center;
    }

    .mob-size {
        width: 342px;
    }

    .about-left {
        width: 342px;
    }

    .content-heading {
        width: 342px;
    }

    .solution-text {
        width: 342px;
    }

    .image {
        width: 342px;
    }
}