* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.top {
    max-width: 1600px;
    margin: 0 auto;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    padding-top: 26px;
    padding-bottom: 20px;    
    display: flex;
    justify-content: space-between;
    background: #222;
}

.main {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    background: #F1E4E6; 
    display: flex;
    align-items: center;
}

.categories {
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}

.title {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.text {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.fetured {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fetured__items {
    margin-top: 47px;
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}

.f_item {
    background: #F8F8F8;
}

.f_content {
    padding-top: 9px;
    padding-right: 110px;
    padding-bottom: 11px;
    padding-left: 108px;
    background: #F7E4E2;;
}

.dsc {
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

}

.subtitle {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.f__text {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}

.button {
    padding: 1rem 2rem;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 2px solid #F26376;
    margin-top: 48px;
    margin-bottom: 60px;
}

